<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/childHeader::childBaseHead">
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend th:text="${roleVM.name}">角色名称:</legend>
    <form class="layui-form">
        <div class="layui-inline">
            <input id="organizationId" name="organizationId">
        </div>
        <div class="layui-inline">
            <input id="departmentId" name="departmentId">
        </div>
    </form>
    <form class="layui-form">
        <input type="hidden" name="roleId" id="roleId" class="layui-input" th:value="${roleVM.id}">
        <div class="layui-form-item">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space20" style="height: 500px">
                    <div class="layui-col-md6">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>已选列表</legend>
                        </fieldset>
                        <table lay-filter="roleSetUserDatagrid" id='roleSetUserDatagrid'></table>
                    </div>
                    <div class="layui-col-md6">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>未选列表</legend>
                        </fieldset>
                        <table lay-filter="roleNotSetUserDatagrid" id='roleNotSetUserDatagrid'></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="setUser">保存</button>
                <button class="layui-btn layui-btn-primary" id="roleSetUserReset">重置</button>
            </div>
        </div>
    </form>
</fieldset>
<script th:inline="javascript">
    var userIds = [[${roleVM}]].userIds;
    var userDataList = [[${exitUsers}]];
    var noSetRoleUsersData = [[${listUsers}]];
</script>
<script th:inline="none" type="text/javascript">
    var roleId;//记录当前角色编号。
    var tableDatagrid;
    var departmentCombotree, organizationCombotree;
    var checkedFlag = false;
    var selConditionNode;
    $(function () {
        roleId = $('#roleId').val();//获取角色编号
        organizationCombotree = $("#organizationId").combotree({
            width: 200,
            height: 30,
            panelWidth: 200,
            panelMaxHeight: 250,
            url: basePath + '/org/organization/doTreegrid',
            prompt: '请选择组织机构',
            onSelect: function (node) {
                departmentCombotree.combotree({
                    url: basePath + '/org/department/doTreegrid',
                    queryParams: {
                        "organizationId": node.id
                    }
                })
            }
        })
        departmentCombotree = $("#departmentId").combotree({
            width: 200,
            height: 30,
            panelWidth: 200,
            panelMaxHeight: 250,
            prompt: '请选择部门'
            , onSelect: function (node) {
                //判断列表是否发生变化，如果为true表示发生编号
                if (checkedFlag) {
                    //打开一个询问框。点击保存执行第一个function。跳过执行第二个function
                    layer.confirm('是否保存分配的用户?', {
                        btn: ['保存', '跳过'] //设置询问框上的按钮显示的文字
                    }, function (index) {//点击保存执行的函数
                        saveSetUser(roleId, userIds);//执行保存函数
                        layer.close(index);//关闭询问框
                        reloadUserDatagrid(node);
                        reloadSetUserDatagrid(node);
                    }, function () {//执行跳过函数
                        reloadUserDatagrid(node);//获取对应系统下的资源数据
                        reloadSetUserDatagrid(node);
                    });
                } else {
                    reloadUserDatagrid(node);//获取对应系统下的资源数据
                    reloadSetUserDatagrid(node);
                }
                checkedFlag = false;
            }
        })
        //提交按钮绑定点击事件
        $('#setUser').on('click', function () {
            layer.confirm('确认保存分配的用户?', {
                btn: ['保存', '取消'] //设置询问框上的按钮显示的文字
            }, function (index) {//点击保存执行的函数
                saveSetUser(roleId, userIds);
                checkedFlag = false;
                layer.close(index);//关闭询问框
            });

            return false;
        });
    });

    function reloadUserDatagrid(node) {
        tableDatagrid.reload('roleSetUserDatagrid', {
            url: basePath + '/sys/role/doUserDatagrid'
            , where: {
                roleId: roleId,
                departmentId: node.id
            }, done: function (data) {
                done(data);
            }
        });
    }

    function reloadSetUserDatagrid(node) {
        tableDatagrid.reload('roleNotSetUserDatagrid', {
            url: basePath + '/sys/role/doNotSetUserDatagrid'
            , where: {
                roleId: roleId,
                departmentId: node.id
            }, done: function (data) {
                done(data);
            }
        });
    }

    layui.use(['layer', 'table', 'form'], function () {
        var layer = layui.layer, form = layui.form;
        tableDatagrid = layui.table;
        initTable(tableDatagrid, {
            elem: '#roleSetUserDatagrid'
            , data: userDataList
            , cols: [[ //表头
                {field: 'id', type: 'checkbox'}
                , {field: 'username', title: '用户名', width: '80%'}
            ]]
            , height: 420
            , page: false
            , done: function (data) {
                done(data);
            }
        })

        initTable(tableDatagrid, {
            elem: '#roleNotSetUserDatagrid'
            , data: noSetRoleUsersData
            , cols: [[ //表头
                {field: 'id', type: 'checkbox'}
                , {field: 'username', title: '用户名', width: '80%'}
            ]]
            , height: 420
            , page: false
            , done: function (data) {
                done(data);
            }
        })

        $('#roleSetUserReset').on('click', function () {
            window.location.reload();
            $("#organizationId").combotree("clear")
            $("#departmentId").combotree("clear")
            return false;
        })

        //监听复选框
        tableDatagrid.on('checkbox(roleSetUserDatagrid)', function (obj) {
            checkedFlag = true;
            changeUserIds(obj);
        });
        //监听复选框
        tableDatagrid.on('checkbox(roleNotSetUserDatagrid)', function (obj) {
            checkedFlag = true;
            changeUserIds(obj);
        });

        function changeUserIds(obj) {
            if (obj.type == 'all') {
                if (obj.checked) {
                    for (var i = 0; i < userDataList.length; i++) {
                        userIds.push(userDataList[i].id);
                    }
                } else {
                    for (var j = 0; j < userDataList.length; j++) {
                        for (var i = 0; i < userIds.length; i++) {
                            if (userDataList[j].id == userIds[i]) {
                                userIds.splice(i, 1);
                            }
                        }
                    }
                }
            } else {
                if (obj.event == 'add' || obj.checked) {
                    userIds.push(obj.data.id);
                } else if (obj.event == 'remove' || !obj.checked) {
                    for (var i = 0; i < userIds.length; i++) {
                        if (userIds[i] == obj.data.id) {
                            userIds.splice(i, 1);
                        }
                    }
                }
            }
            tableDatagrid.reload('roleSetUserDatagrid', {
                done: function (data) {
                    done(data)
                }
            });
        }
    });

    function done(data) {
        userDataList = data.rows;
        var flag = true;
        for (var i = 0; i < userDataList.length; i++) {
            if (userIds.indexOf(parseInt(userDataList[i].id)) != -1) {
                userDataList[i].LAY_CHECKED = true;
                $("#roleSetUserDatagrid").next().find('tr[data-index=' + i + ']').find(".laytable-cell-checkbox input[type='checkbox']").attr('checked', true);
                $("#roleSetUserDatagrid").next().find('tr[data-index=' + i + ']').find(".laytable-cell-checkbox div").addClass('layui-form-checked');
            } else {
                flag = false;
            }
        }
        if (flag && userDataList.length > 0) {
            $("#roleSetUserDatagrid").next().find('.layui-table-header').find(".laytable-cell-checkbox input[type='checkbox']").attr('checked', true);
            $("#roleSetUserDatagrid").next().find('.layui-table-header').find(".laytable-cell-checkbox div").addClass('layui-form-checked');
        }
    }

    function saveSetUser(roleId, userIds) {
        $.ajax({
            url: basePath + '/sys/role/doSetUser',
            data: {roleId: roleId, userIds: userIds.join(',')},
            dataType: "json",
            type: "post",
            success: function (data) {
                layer.msg(data.retInfo);
                //保存后刷新
                if (selConditionNode == undefined) {
                    location.reload();
                } else {
                    reloadUserDatagrid(selConditionNode);
                    reloadSetUserDatagrid(selConditionNode);
                }
            }
        })
    }
</script>
<style>
    .layui-form-label {
        padding: 9px 10px;
        width: auto;
    }

    .layui-field-title {
        margin-bottom: 0px;
    }

    .layui-form {
        margin: 0;
    }
</style>
</body>

</html>