<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/childHeader::childBaseHead">
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend th:text="${roleVM.name}">角色名称:</legend>
    <form class="layui-form">
        <div class="layui-inline">
            <input type="text" id="organizationId" name="organizationId" placeholder="组织机构"  class="layui-input">

        </div>
        <div class="layui-inline">
            <input type="text" id="departmentId" name="departmentId" placeholder="部门"  class="layui-input">

        </div>
    </form>
    <form class="layui-form">
        <input type="hidden" name="roleId" id="roleId" class="layui-input" th:value="${roleVM.id}">
        <div class="layui-form-item">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space20" style="height: 100%">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>已选列表</legend>
                        </fieldset>
                        <table lay-filter="roleSetUserDatagrid" id='roleSetUserDatagrid'></table>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>未选列表</legend>
                        </fieldset>
                        <table lay-filter="roleNotSetUserDatagrid" id='roleNotSetUserDatagrid'></table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<script th:inline="javascript">
    var userIds = [[${roleVM}]].userIds;
    var userDataList = [[${exitUsers}]];
    var noSetRoleUsersData = [[${listUsers}]];
</script>
<script th:inline="none" type="text/javascript">
    var roleId;//记录当前角色编号。
    var tableDatagrid;
    var checkedFlag = false;
    var selConditionNode;



    layui.use(['layer', 'table', 'form', 'treeselect'], function () {
        var layer = layui.layer, form = layui.form, treeselect = layui.treeselect;
        tableDatagrid = layui.table;
        roleId = $('#roleId').val();//获取角色编号
//初始化组织机构下拉列表
        treeselect.render({
            elem: "#organizationId",
            data: basePath + '/org/organization/doTreegrid',//可以是treedata，也可以是 获取treedata的URL地址
            selectcall: function (row) {
                treeselect.render({
                    elem: "#departmentId",
                    queryParams: {"organizationId": row.id},
                    data: basePath + '/org/department/doTreegrid',//可以是treedata，也可以是 获取treedata的URL地址
                    selectcall:function(row){
                        console.info(checkedFlag);
                        //判断列表是否发生变化，如果为true表示发生编号
                        if (checkedFlag) {
                            //打开一个询问框。点击保存执行第一个function。跳过执行第二个function
                            layer.confirm('是否保存分配的用户?', {
                                btn: ['保存', '跳过'] //设置询问框上的按钮显示的文字
                            }, function (index) {//点击保存执行的函数
                                saveSetUser(roleId, userIds);//执行保存函数
                                layer.close(index);//关闭询问框
                                reloadUserDatagrid(row);
                                reloadSetUserDatagrid(row);
                            }, function () {//执行跳过函数
                                reloadUserDatagrid(row);//获取对应系统下的资源数据
                                reloadSetUserDatagrid(row);
                            });
                        } else {
                            reloadUserDatagrid(row);//获取对应系统下的资源数据
                            reloadSetUserDatagrid(row);
                        }
                        checkedFlag = false;
                    }
                });
            }
        });

        //初始化部门下拉列表
        treeselect.render({
            elem: "#departmentId",
             data: [],//可以是treedata，也可以是 获取treedata的URL地址
        });

        function reloadUserDatagrid(node) {
            tableDatagrid.reload('roleSetUserDatagrid', {
                url: basePath + '/sys/role/doUserDatagrid'
                , where: {
                    roleId: roleId,
                    departmentId: node.id
                }, done: function (data) {
                    done(data);
                }
            });
        }

        function reloadSetUserDatagrid(node) {
            tableDatagrid.reload('roleNotSetUserDatagrid', {
                url: basePath + '/sys/role/doNotSetUserDatagrid'
                , where: {
                    roleId: roleId,
                    departmentId: node.id
                }, done: function (data) {
                    done(data);
                }
            });
        }





        initTable(tableDatagrid, {
            elem: '#roleSetUserDatagrid'
            , data: userDataList
            , cols: [[ //表头
                {type: 'checkbox'}
                , {field: 'username', title: '用户名', width: '70%'}
            ]]
            , height: 'full-150'
            , page: false
            , done: function (data) {
                done(data);
            }
        })

        initTable(tableDatagrid, {
            elem: '#roleNotSetUserDatagrid'
            , data: noSetRoleUsersData
            , cols: [[ //表头
                {type: 'checkbox'}
                , {field: 'username', title: '用户名', width: '70%'}
            ]]
            , height: 'full-150'
            , page: false
            , done: function (data) {
                done(data);
            }
        })

        //监听复选框
        tableDatagrid.on('checkbox(roleSetUserDatagrid)', function (obj) {
            checkedFlag = true;
            changeUserIds(obj);
        });
        //监听复选框
        tableDatagrid.on('checkbox(roleNotSetUserDatagrid)', function (obj) {
            checkedFlag = true;
            changeUserIds(obj);
        });

        function changeUserIds(obj) {
            if (obj.type == 'all') {
                if (obj.checked) {
                    for (var i = 0; i < userDataList.length; i++) {
                        userIds.push(userDataList[i].id);
                    }
                } else {
                    for (var j = 0; j < userDataList.length; j++) {
                        for (var i = 0; i < userIds.length; i++) {
                            if (userDataList[j].id == userIds[i]) {
                                userIds.splice(i, 1);
                            }
                        }
                    }
                }
            } else {
                if (obj.event == 'add' || obj.checked) {
                    userIds.push(obj.data.id);
                } else if (obj.event == 'remove' || !obj.checked) {
                    for (var i = 0; i < userIds.length; i++) {
                        if (userIds[i] == obj.data.id) {
                            userIds.splice(i, 1);
                        }
                    }
                }
            }
            tableDatagrid.reload('roleSetUserDatagrid', {
                done: function (data) {
                    done(data)
                }
            });
        }
    });

    function done(data) {
        userDataList = data.rows;
        var flag = true;
        for (var i = 0; i < userDataList.length; i++) {
            if (userIds.indexOf(parseInt(userDataList[i].id)) != -1) {
                userDataList[i].LAY_CHECKED = true;
                $("#roleSetUserDatagrid").next().find('tr[data-index=' + i + ']').find(".laytable-cell-checkbox input[type='checkbox']").attr('checked', true);
                $("#roleSetUserDatagrid").next().find('tr[data-index=' + i + ']').find(".laytable-cell-checkbox div").addClass('layui-form-checked');
            } else {
                flag = false;
            }
        }
        if (flag && userDataList.length > 0) {
            $("#roleSetUserDatagrid").next().find('.layui-table-header').find(".laytable-cell-checkbox input[type='checkbox']").attr('checked', true);
            $("#roleSetUserDatagrid").next().find('.layui-table-header').find(".laytable-cell-checkbox div").addClass('layui-form-checked');
        }
    }

    function saveSetUser(roleId, userIds) {
        $.ajax({
            url: basePath + '/sys/role/doSetUser',
            data: {roleId: roleId, userIds: userIds.join(',')},
            dataType: "json",
            type: "post",
            success: function (data) {
                layer.msg(data.retInfo);
                //保存后刷新
                if (selConditionNode == undefined) {
                    location.reload();
                } else {
                    reloadUserDatagrid(selConditionNode);
                    reloadSetUserDatagrid(selConditionNode);
                }
            }
        })
    }
    //保存
    function saveForm(){
        layer.confirm('确认保存分配的用户?', {
            btn: ['保存', '取消'] //设置询问框上的按钮显示的文字
        }, function (index) {//点击保存执行的函数
            saveSetUser(roleId, userIds);
            checkedFlag = false;
            layer.close(index);//关闭询问框
        });
        return false;
    }
    //重置
    function resetForm() {
        window.location.reload();
        return false;
    }
</script>
<style>
    .layui-form-label {
        padding: 9px 10px;
        width: auto;
    }

    .layui-field-title {
        margin-bottom: 0px;
    }

    .layui-form {
        margin: 0;
    }
</style>
</body>

</html>