<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/childHeader::childBaseHead">
</head>
<body>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">系统名称：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${appVM.name}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">系统编码：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${appVM.code}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源地址：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${appVM.url}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${#dates.format(appVM.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">修改时间：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${#dates.format(appVM.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${appVM.description}"></p>
        </div>
    </div>
</div>
</body>
</html>