<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/childHeader::childBaseHead">
</head>
<body>
<form class="layui-form" action="">
    <input type="hidden" name="parentId" class="layui-input" th:if="${departmentVM!=null}"
           th:value="${departmentVM.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">上级部门</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" th:if="${departmentVM==null}" th:value="${'无'}" disabled>
            <input type="text" class="layui-input" th:if="${departmentVM!=null}"
                   th:value="${departmentVM.text!=null?departmentVM.text:'无'}" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>部门名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-verType="msg"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>部门全称</label>
        <div class="layui-input-block">
            <input type="text" name="fullName" lay-verify="required" lay-verType="msg" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>所属机构</label>
        <div class="layui-input-block">
            <input type="text" name="organizationId" id="organizationId" class="layui-input"
                   lay-verify="required"
                   th:attr="disabled=${departmentVM!=null}"
                   th:value="${departmentVM!=null?departmentVM.organizationName:''}">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="description"></textarea>
        </div>
    </div>
    <button class="hidden-btn" lay-submit="" lay-filter="deptAdd" id="deptAdd">立即提交</button>
    <button type="reset" class="hidden-btn" id="deptReset">重置</button>
</form>

<script th:inline="javascript" type="text/javascript">
    var departmentVM = [[${departmentVM}]]
    layui.use(['form', 'jquery', 'layer', 'treeselect'], function () {
        var form = layui.form
            , $ = layui.$ //重点处
            , layer = layui.layer, treeselect = layui.treeselect;
        //初始化组织机构下拉列表
        if (departmentVM == null) {
            treeselect.render({
                elem: "#organizationId",
                data: basePath + '/org/organization/doTreegrid'
            });
        }

        //监听提交
        form.on('submit(deptAdd)', function (data) {
            layer.confirm('是否确认添加?', {
                btn: ['确认', '取消'] //设置询问框上的按钮显示的文字
            }, function (index) {//点击保存执行的函数
                if (departmentVM != null) {
                    data.field.organizationId = departmentVM.organizationId;
                }

                $.ajax({
                    url: basePath + '/org/department/doSave',
                    data: data.field,
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.retCode == '0000') {
                            parent.$(".clildFrame").find(".layui-show").find("iframe")[0].contentWindow.departmentTreegrid();
                            parent.layer.closeAll();
                        }
                        parent.layer.msg(data.retInfo);
                    }
                })
            });
            return false;
        });
    });
    $(function () {
//        $("#organizationId").combotree({
//            width: '100%',
//            height: 38,
//            panelMaxHeight: 150,
//            url: basePath + '/org/organization/doTreegrid'
//        });
    })

    //保存
    function saveForm() {
        $('#deptAdd').click();
    }

    //重置
    function resetForm() {
        $('#deptReset').click();
    }
</script>

</body>
</html>