<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/childHeader::childBaseHead">
</head>
<body>
<form class="layui-form" th:action="@{/sys/appResource/doUpdate}">
    <input type="hidden" name="id" id="id" class="layui-input" th:value="${resourceVM.id}">
    <input type="hidden" name="appId" id="appId" class="layui-input" th:value="${resourceVM.appId}">
    <input type="hidden" name="parentId" id="parentId" class="layui-input" th:value="${resourceVM.parentId}">
    <div class="layui-form-item">
        <label class="layui-form-label">上级资源</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" th:value="${resourceVM.parentName!=null?resourceVM.parentName:'无'}"
                   disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>资源名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verType="msg" lay-verify="resourceName" class="layui-input"
                   th:value="${resourceVM.text}">
            <div class="layui-form-mid layui-word-aux">由2-16位字母、数字、中文和下划线组成，下划线不能开头结尾</div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源图标</label>
        <div class="layui-input-block">
            <!--zyc add-->
            <div class="layui-input" id="choiceIcon"></div>
            <!--zyc add-->
            <input type="text" name="icon" placeholder="请点击选择资源图标"
                   class="layui-input iconVal"
                   th:value="${resourceVM.icon}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>资源类型</label>
        <div class="layui-input-block">
            <input type="radio" name="resourceType" value="MODULE" title="模块"
                   th:checked="${resourceVM.resourceType=='MODULE'}">
            <input type="radio" name="resourceType" value="OPERATION" title="操作"
                   th:checked="${resourceVM.resourceType=='OPERATION'}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>资源代码</label>
        <div class="layui-input-block">
            <input type="text" name="code" lay-verType="msg" lay-verify="resourceCode" th:value="${resourceVM.code}"
                   class="layui-input">
            <div class="layui-form-mid layui-word-aux">由字母和冒号:组成，冒号:不能开头结尾</div>
        </div>
    </div>
    <div class="layui-form-item" th:if="${resourceVM.parentName!=null}">
        <label class="layui-form-label"><span class="must iconfont icon-xinghao"></span>访问地址</label>
        <div class="layui-input-block">
            <input type="text" name="url" lay-verType="msg" lay-verify="resourceAddress" th:value="${resourceVM.url}"
                   class="layui-input">
            <div class="layui-form-mid layui-word-aux">访问地址以'/'开头</div>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入描述" class="layui-textarea" name="description"
                      th:text="${resourceVM.description}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="resourceEdit">修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script th:inline="javascript">
    var iconUrl = [[#{icon.url}]];
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.config({
        base: basePath + '/js/' //假设这是你存放拓展模块的根目录
    }).extend({ //设定模块别名
        myIcon: 'myIcon'
    }).use(['form', 'jquery', 'layer', 'myIcon'], function () {
        var form = layui.form
            , $ = layui.$ //重点处
            , layer = layui.layer,
            //zyc add
            myIcon = layui.myIcon;
        myIcon(iconUrl);
        //zyc add

        //监听提交
        form.on('submit(resourceEdit)', function (data) {
            layer.confirm('是否确认修改?', {
                btn: ['确认', '取消'] //设置询问框上的按钮显示的文字
            }, function (index) {//点击保存执行的函数
                $.ajax({
                    url: basePath + '/sys/appResource/doUpdate',
                    data: data.field,
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (data.retCode == '0000') {
                            parent.$(".clildFrame").find(".layui-show").find("iframe")[0].contentWindow.appResourceTreegrid.treegrid('reload');
                            parent.layer.closeAll();
                        }
                        parent.layer.msg(data.retInfo);
                    }
                })
            });
            return false;
        });
        form.verify({
            resourceName: function (value) {
                return verifyResource(value, '资源名称', 'name')
            },
            resourceCode: function (value) {
                return verifyResource(value, "资源编码", 'code')
            },
            resourceAddress: function (value) {
                if (!new RegExp('^\/[\\w\/]+$').test(value)) {
                    return "资源访问地址格式必须以‘/’开头";
                }
            }
        });
    });

    function verifyResource(value, title, type) {
        if (!value) {
            return title + '不能为空！'
        } else {
            if (type == 'name') {
                if (!new RegExp('^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]{2,16}$').test(value)) {
                    return title + '长度为2至16位，由字母、数字、中文和下划线组成，下划线不能开头结尾!'
                }
            } else if (type == 'code') {
                if (!new RegExp('^(?!:)(?!.*?:$)[a-zA-Z:]+$').test(value)) {
                    return title + '由字母和冒号:组成，冒号:不能开头结尾'
                }
            }
        }
        var id = $("#id").val();
        var data = '{"' + type + '":"' + value + '","appId":"' + $("#appId").val() + '","parentId":"' + $("#parentId").val() + '","id":"' + id + '"}';
        var isExist = false;
        $.ajax({
            url: basePath + '/sys/appResource/doValidate',
            data: JSON.parse(data),
            dataType: "json",
            async: false,
            type: "post",
            success: function (data) {
                if (data.retCode == '0000')
                    isExist = true;
            }
        })
        if (!isExist)
            return title + '已存在,请重新填写！';
    }
</script>
</body>
</html>