<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/childHeader::childBaseHead">
</head>
<body>
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">上级资源：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.parentName}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源名称：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.text}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源图标：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.icon}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源类型：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.resourceType=='MODULE'?'模块':'操作'}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源代码：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.code}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">资源地址：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.url}"></p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创建时间：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${#dates.format(resourceVM.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </div>
    </div>
    <div class="layui-form-item">
            <label class="layui-form-label">修改时间：</label>
            <div class="layui-input-block">
                <p class="layui-info" th:text="${#dates.format(resourceVM.gmtModified, 'yyyy-MM-dd HH:mm:ss')}"></p>
            </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">描述：</label>
        <div class="layui-input-block">
            <p class="layui-info" th:text="${resourceVM.description}"></p>
        </div>
    </div>
</div>
</body>
</html>