<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="base/baseConfig::baseConfig">
</head>
<body>
<div id="config">
    <div class="layui-tab layui-tab-card" lay-filter="config">
        <ul class="layui-tab-title">
        </ul>
        <div class="layui-tab-content">
            <div th:replace="business/system/config/base::config"></div>
            <div th:replace="business/system/config/login::config"></div>
            <div th:replace="business/system/config/register::config"></div>
            <div th:replace="business/system/config/email::config"></div>
            <div th:replace="business/system/config/sms::config"></div>
            <div th:replace="business/system/config/other::config"></div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var configVMList = [[${configVMList}]];
</script>
<script>
    layui.use(['form', 'jquery', 'element', 'layer', 'laydate'], function () {
        var element = layui.element, form = layui.form, $ = layui.$; //重点处
        var type, changeFlag = false;
        $.ajax({
            url: basePath + '/sys/config/getList',
            dataType: "json",
            type: "post",
            success: function (data) {
                $(data).each(function (index) {
                    var _this = $(this)[0];
                    $("#config ul").append("<li lay-data='" + _this.type + "' class='" + (index == 0 ? 'layui-this' : '') + "'>" + _this.title + "</li>");
                });
                element.render('tab');
                setValue();
            }
        })

        form.verify({
            count: function (value) {
                if (value == null || value == "") {
                    return "每日短信发送次数不能为空！"
                }
                if (!new RegExp('^[1-9]{1}[0-9]?$').test(value)) {
                    return '每日短信发送次数只能输入数字，且要大于0！';
                }
            },
        });

        element.on('tab(config)', function (data) {
            if (changeFlag) {//如果页面数据发生改变，则提示是否进行保存。
                layer.confirm('是否保存？', {
                    btn: ['保存', '放弃'] //设置询问框上的按钮显示的文字
                }, function (index) {
                    //执行保存
                    $('.layui-tab-content .' + type).find('[lay-submit]').click();
                    changeTab(data);
                }, function (index) {
                    //点击放弃执行的函数
                    changeTab(data);
                });
            } else {//页面未发生数据改变
                changeTab(data);
            }

        });

        //切换tab的获取数据函数
        function changeTab(data) {
            type = $(data.elem.context).attr('lay-data');
            $.ajax({
                url: basePath + '/sys/config/doSelect/' + type,
                dataType: "json",
                type: "post",
                success: function (data) {
                    changeFlag = false;
                    configVMList = data;
                    setValue();
                }
            })
        }

        $(".changeReturn").on('click', function () {
            setValue();
            if(!$.isEmptyObject(configVMList.items)) {
                return false;
            }
        })
        $(".layui-input-block > input,.layui-input-block > textarea").on('change', function () {
            changeFlag = true;
        })
        //监听提交
        form.on('submit(setBaseConfig)', function (data) {
            ajaxSubmit(data);
            return false;
        });
        form.on('submit(setLoginConfig)', function (data) {
            ajaxSubmit(data);
            return false;
        });
        form.on('submit(setRegisterConfig)', function (data) {
            ajaxSubmit(data);
            return false;
        });
        form.on('submit(setEmailConfig)', function (data) {
            ajaxSubmit(data);
            return false;
        });
        form.on('submit(setSmsConfig)', function (data) {
            ajaxSubmit(data);
            return false;
        });
        form.on('submit(setOtherConfig)', function (data) {
            ajaxSubmit(data);
            return false;
        });

        function ajaxSubmit(data) {
            layer.confirm('是否确认保存配置?', {
                btn: ['确认', '取消'] //设置询问框上的按钮显示的文字
            }, function (index) {//点击保存执行的函数
//                var configs = {};
                var items = {};
                for (var key in data.field) {
                    if (key != 'type') {
                        var value = data.field[key];
                        items[key] = value;
                    }
                }
//                configs.type=data.field['type'];
                data.field.items=items;
                $.ajax({
                    url: basePath + '/sys/config/doUpdate',
                    data: JSON.stringify(data.field),
                    dataType: "json",
                    contentType: 'application/json',
                    type: "post",
                    success: function (data) {
                        changeFlag = false;
                        configVMList.items=items;
                        layer.msg(data.retInfo);
                    }
                })
            })
        }

        //给标签赋值，根据标签的name值
        function setValue() {
            var type = configVMList.type;
            var config = configVMList.items;
            for (var key in config) {
                var value = config[key];
                $('.' + type + ' [name=' + key + ']').val(value);
            }
        }
    });
</script>
</body>
</html>